@import "fonts.css";
@import "nav.css";

/**
 * 1. GENERAL
 * 2. HEADER
 * 3. MAIN
 * 4. ELEMENTS
 */

/** 1. GENERAL **/

body {
    background: url("../images/background.png") no-repeat top / cover;
    color: #fff;
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

header,
main {
    grid-column: span 1 / 3;
}

/** 2. HEADER **/

.title {
    color: #fff;
    font-family: 'Righteous', sans-serif;
    font-size: 2.5rem;
    position: absolute;
}

/** 3. MAIN **/

main {
    align-items: center;
    display: flex;
}

main > section {
    width: 50%;
}

main > section > p {
    font-size: 1.2rem;
    line-height: 1.4;
}

/** 4. ELEMENTS **/

button {
    background-color: #0088ca;
    border: none;
    border-radius: .2rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 3rem;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: #0088ca;
    cursor: pointer;
}
