/*-- continue_reading in common --*/
.int_indget_continue_collect_default,.int_indget_continue_drive_default {
    padding: 30px 0px 5px 0px;
    border-radius: 3px;
}
.int_indget_continue_collect_default_title,.int_indget_continue_drive_default_title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.int_indget_continue_collect_brand_url,.int_indget_continue_drive_brand_url{
    text-align: center;
    margin-top: 20px;
}

/*-- continue_reading > collect email --*/
.int_indget_continue_collect_default_content {
    box-sizing: border-box;
    text-align: center;
}
.int_indget_continue_collect_default_content a {
    text-decoration: none;
    border-style: none;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
}
.int_indget_continue_collect_default_content input[type='email'] {
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    min-width: 240px;
    max-width: 320px;
    font-style: italic;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
}
@media screen and (max-width: 480px) {
    .int_indget_continue_collect_default_content input[type='email'] {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

/*-- continue_reading > drive traffic --*/

.int_indget_continue_drive_default_content {
    box-sizing: border-box;
    display: table;
    width: 100%;
}
.int_indget_continue_drive_default_content p{
    margin: 0;
}
.int_indget_continue_drive_default_message {
    font-size: 14px;
    display: table-cell;
    text-align: center;
    padding: 15px 5px;
}
.int_indget_continue_drive_default_button_area {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-width: 200px;
    max-width: 400px;
    padding: 5px;
}
.int_indget_continue_drive_default_button_area a {
    text-decoration: none;
    border-style: none;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}

/*- inline in common -*/
.int_indget_inline_collect_default, .int_indget_inline_drive_default{
    padding: 30px 0px 5px 0px;
    border-radius: 3px;
}
.int_indget_inline_collect_default_title, .int_indget_inline_drive_default_title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.int_indget_inline_collect_brand_url,.int_indget_inline_drive_brand_url{
    text-align: center;
    margin-top: 20px;
}
/*- inline > collect email -*/
.int_indget_inline_collect_default_content {
    box-sizing: border-box;
    text-align: center;
}
.int_indget_inline_collect_default_content a {
    text-decoration: none;
    border-style: none;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
}
.int_indget_inline_collect_default_content input[type='email'] {
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    min-width: 200px;
    font-style: italic;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
}
@media screen and (max-width: 480px) {
    .int_indget_inline_collect_default_content input[type='email'] {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

/*- inline > drive traffic -*/
.int_indget_inline_drive_default_content {
    box-sizing: border-box;
    display: table;
    width: 100%;
}
.int_indget_inline_drive_default_content p{
    margin: 0;
}
.int_indget_inline_drive_default_message {
    font-size: 14px;
    /**/
    display: table-cell;
    /*width: 50%;*/
    text-align: center;
    padding: 15px 5px;
}
.int_indget_inline_drive_default_button_area {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-width: 200px;
    max-width: 400px;
    padding: 5px;
}
.int_indget_inline_drive_default_button_area a {
    text-decoration: none;
    border-style: none;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}

/*--  float bar in common  --*/
body{
    margin: 0;
}
#float_bar_wrap{
    display:none;
}
.int_float_bar_content_warp{
    text-align: center;
}
.int_indget_float_top {
    top: 0px;
    border-bottom: 2px solid #ffffff;
    position: relative;
    position: fixed;
    z-index: 3000;
}
.int_indget_float_bottom {
    bottom: 0px;
    border-top: 2px solid #ffffff;
    position: absolute;
    position: fixed;
    z-index: 3000;
}
#int_indget_float_open_top {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: -96px;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -ms-filter: \"progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3)\";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #eb593c;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    padding: 20px 10px 5px 10px;
    cursor: pointer;
}
#int_indget_float_close_top {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 4px;
    z-index: 10;
    border: none;
    padding: 0px;
    cursor: pointer;
}
#int_indget_float_close_bottom {

    display: block;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 4px;
    z-index: 10;
    border: none;
    padding: 0px;
    cursor: pointer;
}
#int_indget_float_open_bottom {
    overflow: hidden;
    position: absolute;
    right: 10px;
    bottom: -96px;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -ms-filter: \"progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3)\";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 5px;
    background-color: #eb593c;
    border-color: #fff;
    border-style: solid;
    border-width: 3px;
    padding: 5px 10px 20px 10px;
    cursor: pointer;
}
#int_indget_float_close_top img {
    vertical-align: middle;
}
#int_indget_float_close_bottom img {
    vertical-align: middle;
}
.int_indget_float_brand{
    float: left;
    margin-left: 30px;
}
.int_indget_float_brand .logo_image{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.int_indget_float_brand .logo_image:hover{
    opacity: 1;
}
/*- float bar > collect email -*/
.int_indget_float_collect_default {
    display: block;
    width: 100%;
    background-color: rgb(235, 89, 60);
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -ms-filter: \"progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3)\";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3);
}
.int_indget_float_collect_default_title {
    padding: 0 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.int_indget_float_collect_default_content {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}
.int_indget_float_collect_default_content a {
    text-decoration: none;
    border-style: none;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 5px;
}
.int_indget_float_collect_default_content input[type='email'] {
    display: inline-block;
    border-radius: 3px;
    margin: 4px;
    padding: 2px 10px;
    width: 50%;
    min-width: 200px;
    font-style: italic;
    box-sizing: border-box;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .int_indget_float_collect_default_content{
        width: 90% !important;
        margin-bottom: 10px;
    }
    .int_indget_float_collect_default_title{
        width: 90% !important;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .int_indget_float_collect_default_title{
        width: 90% !important;
        margin-bottom: 10px;
        /*padding: 0px 40px 0px 10px;*/
        text-align: center;
    }
}

/*- float bar > drive traffic -*/
.int_indget_float_drive_default {

    display: block;
    width: 100%;
    background-color: rgb(235, 89, 60);
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
    -ms-filter: \"progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3)\";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5,direction=120,strength=3);
}
.int_indget_float_drive_default_title {
    font-weight: bold;
    text-align: right;
    /*width: 70%;*/
    display: inline-block;
    /*padding: 8px;*/
    padding-right: 10px;
    line-height: 1.6;
}
.int_indget_float_drive_default_content {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: 1.68;
    font-size: 19px;
}
.int_indget_float_drive_default_content a {
    text-decoration: none;
    border-style: none;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .int_indget_float_drive_default_content{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .int_indget_float_drive_default_title{
        width: 100% !important;
        margin-bottom: 10px;
        padding: 0px 40px 0px 10px;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .int_indget_float_drive_default_title{
        width: 100% !important;
        margin-bottom: 10px;
        padding: 0px 40px 0px 10px;
        text-align: center;
    }
}
