*{margin:0;padding:0;}
html{scroll-behavior: smooth; /*font-size: 62.5%;*/}
body{background-color: #f7f7f7;/*font-size: calc(1.4em + 1vw)*/}
img{max-width: 100%;}
header{
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: .5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #git{
  color: #333;
  text-align: center;
  width: 30%;
}
header #git:hover{
  text-decoration: underline;
}
header #git span{
  display: none;
}
header #git img{
  width: 28px;
  margin-left: 10px;
}
h1, .h1{
  color: #52d3aa;
  font-size: 1.6em;
  font-weight: bold;
  transition: all .6s ease;
  margin: 0;
  width: 40%;
  text-align: center;
}
h1 a{
  text-decoration: none;
  color: #52d3aa;
}
h1:hover, .h1:hover, h1 a:hover{
  color: #3f95ea ;
}
nav a{
  color: #777;
  text-decoration: none;
  display: block;
  padding: 0.2em 0;
  border-radius: 5px;
  text-align: center;

}
nav a.active, nav a.active:hover{
  background-color: #52d3aa;
  color: #fff;
  font-weight: bold;
}
nav a:hover, .nav-pills .nav-link:hover{
 background: #f7f7f7;
 color: #3f95ea;
}
main{
  animation-name: fadeIn;
  animation-duration: 1.1s;
  animation-timing-function: ease;
}
aside{
  padding: 1em;
}
section{
  background: #fff;
  padding:1%;
}

/* .badge.new{
  background: white;
  color: #3f95ea;
  margin: 0 .5em;
} */
.new:after{
  content: "New";
  background: white;
  color: #3f95ea;
  margin: 0 .4em;
  padding: 0.2em 0.4em;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: .4em;
}
.tag{
  background: #ccc;
  color: white;
  margin: 0 .4em;
  padding: 0.2em 0.4em;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: .4em;
}
#back-to-top{
  position:fixed;
  bottom:4%;
  right:2%;
  /* padding:0 1%; */
  background: #393e46;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  z-index: 9999;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#back-to-top:hover{
  background: #3f95ea;
}

h3 small{font-weight: 100;}
h4, .h4, h6, .h6{
  margin: 2em 0 1em;
  font-weight:100;
  text-transform:uppercase;
}
h6, .h6{font-weight: 600;margin:2em 0 0;}

h3 small, h4 small, h5 small, h6 small{color: #acacac; text-transform: capitalize;}
p{text-align: justify;}

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* ANIMATION */
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 2s;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.fadeOut{
  animation-name: fadeOut;
  animation-duration: 2s;
}
@keyframes fadeOut {
  from{opacity: 1;}
  to{opacity:0;}
}
.fade-top-anim{
  animation-name: fade-top;
  animation-duration: 2s;
}
@keyframes fade-top{
  from{opacity: 0;margin-top: 8%;}
    to{opacity: 1;}
}
.fade-bottom{
  animation-name: fade-bottom;
  animation-duration: 2s;
}
@keyframes fade-bottom{
  from{opacity: 0;margin-top: 0;}
    to{opacity: 1;margin-top: 8%;}
}
.flip{
  animation-name: flip-coin;
  animation-duration: 1s;
}

@keyframes flip-coin {
  from {transform: rotateX(0deg)}
  to {transform: rotateX(360deg)}
}

/*Surcharge bootstraps*/
.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
  background: transparent;
  color: #777;
  padding: 0.2em 0;
  text-align: left;
}
.nav-pills .nav-link.active {color: #3f95ea;}
.col-md-6.bg-dark ~ div {margin: 1em 0 2em;}
.bg-dark{
  background-color: #333 !important;
  padding: 2%;
  margin:1em 0 2em;
  white-space:nowrap;
  overflow: auto;
}
.bg-dark code{
  color: #ccc;
}
.bg-dark code span.commentaire{
  color: #777;
  font-weight: 600;
}
.bg-dark code span.balise{
  color: #db3763;
  font-weight: 600;
}
.bg-dark code span.attribut{
  color: #c2b029;
  font-weight: 600;
}
.bg-dark code span.valeur{
  color: #5ac229;
  font-weight: 600;
}
.bg-dark code span.var{
  color: #d94fc5;
  font-weight: 600;
}
.bg-dark code span.function{
  color: #4fd9d6;
  font-weight: 600;
}
.accordion-button:not(.collapsed){
  background-color: transparent;
  color: #3f95ea;
}
.accordion-button:focus{
  box-shadow: none;
  border:0;
}


footer {
  display: flex;
  justify-content: flex-end;
  background: #393e46;
  position: relative;
  padding: 0% 8% 2%;
  margin-top: 0;
}
footer::before {
  content: '';
  transform: rotate(-1deg);
  background: #393e46;
  position: absolute;
  width: 100%;
  right: 0;
  top: -50%;
  height: 100%;
}
footer h2 {
    	color: #fff;
    	opacity: .2;
}

/* RESPONSIVE */
@media screen and (min-width: 768px){
/*    body{font-size: calc(.8em + 1vw)} */
header #git{width:20%;}
header #git span{
  display: inline;
}

  main{
    display: flex;
    align-items: flex-start;
  }
  h1, .h1, aside{
    width:24%;
  }
  section {
    width:77%;
    padding:3%;
  }
}
@media screen and (min-width: 1240px){
/*  body{font-size: calc(.3em + 1vw)} */
  h1, .h1, aside, aside{
    width:20%;
  }
  aside{
    padding: 0 0 0 3%;
  }
  section {
    width:60%;
    margin-right: 20%;
  }
}


/*ANIMATIONS*/

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  50% {
  -webkit-transform: none;
  transform: none;
  }
  100%{
      opacity: 1;
  }
 }
@keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  50% {
  -webkit-transform: none;
  transform: none;
  }
  100%{
      opacity: 1;
  }
}
