

#ouvrir {
    cursor: pointer;
    padding: 10px 15px;
}

/* Popup */
#texte {
    display: none;                 /* caché au départ */
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    background-color: #9e8b8b;
}

/* Bouton fermer */
#fermer {
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 12px;
}

/*texte passe au rouge*/
#rouge {
cursor: pointer;

}

/*texte passe au bleu*/
#bleu {
    cursor: pointer;
}